<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div style="text-align: center">
        <button onclick="playPause()">播放/暂停</button>
        <button onclick="makeBig()">放大</button>
        <button onclick="makeSmall()">缩小</button>
        <button onclick="makeNormal()">普通</button>
        <br>
        <video id="video1" width="420">
            <source src="../statics/mov/mov_bbb.mp4" type="video/mp4">
            您的浏览器不支持video
        </video>
    </div>
    <script>
        var myVideo = document.getElementById("video1");
        function playPause() {
            if (myVideo.pause) {
                myVideo.play();
            } else {
                myVideo.pause();
            }
        }
        function makeBig() {
            myVideo.width=560;
        }
        function makeSmall() {
            myVideo.width=320;
        }
        function makeNormal() {
            myVideo.width= 420;
        }
    </script>
</body>
</html>