<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>RENDERED</title>
    
    <script src="https://use.typekit.net/kxf0iwn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    
    <!-- Navigation Menu -->
    <header>
      <a class="site-logo">
          <img class="logo" src="images/logo-white.png">
      </a>
        <nav class="site-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Tickets</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        <!-- Hero -->
        <section class="hero">
        	<div class="hero-content">
                <h2>An Exhibition of Digital Originals</h2>
                <h1>Rendered</h1>
                <h3>Nov 14 &mdash; 21, 2017, San Francisco</h3>
            </div>
        </section>

        <!-- Intro -->
        <section class="intro">
        <div class="intro-text">
                <p>If digital artwork can be endlessly reworked, at what point does it become a finished piece? In Rendered, today’s pixel visionaries explore the event horizon between artistic process and rendered reality.</p>
            </div>
        </section>

        <!-- Artwork -->
        <section class="artworks">
            <article class="artwork">
                <div class="artwork-piece">
                    <figure>
                    	<img src="images/goldrush.jpg">
                    </figure>
                </div>
                <div class="artwork-description">
                	<h2 class="artwork-title">Goldrush</h2>
                    <p class="artwork-text">In a world obsessed with everything golden, these everyday objects shine as if they were made of real gold, from liquid to smoke to melted ice cream.</p>
                    <a class="see-more" href="#">See more</a>
                </div>
            </article>
        </section>
    </main>

    <!-- Site Footer -->
    <footer>
    <div class="footer-content">
            <ul class="footer-social">
                <li>
                    <a href="#">
                        <img class="social-default" src="images/social-facebook.png">
                        <img class="social-hover" src="images/social-facebook-hover.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="social-default" src="images/social-pinterest.png">
                        <img class="social-hover" src="images/social-pinterest-hover.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="social-default" src="images/social-twitter.png">
                        <img class="social-hover" src="images/social-twitter-hover.png">
                    </a>
                </li>
            </ul>
            <div class="footer-info">
                <p class="footer-credit">Website design by <a href="#">Serge Vasil</a></p>
                <p class="footer-disclaimer">Any reference to associated logos is for demonstration purposes only and is not intended to refer to any actual organization or event.</p>
                <p class="footer-legal">&copy; 2016 Adobe Systems Incorporated. All rights reserved.</p>
            </div>
        </div>
    </footer>
    
</body>
</html>