<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <canvas id="myCanvas" width="200" height="100" style="border: 1px solid green;">
        feng
    </canvas>
    <script>
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");

        var grd = ctx.createRadialGradient(100,50,5,100,50,100);
        grd.addColorStop(0,"red");
        grd.addColorStop(1,"white");
        ctx.fillStyle=grd;
        ctx.fillRect(10,10,150,80);
    </script>
</body>
</html>