<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>launch</title>
        <style> 
            #box{
                display: flex;
                flex-direction: row;
            }
            .inner{
                width: 100px;
                height: 100px;
                background: #8a4182;
                margin: 10px;

            }
        </style>
    </head>
    <body>
        <div id="box">
            <div class="inner"></div>
            <div class="inner"></div>
            <div class="inner"></div>
        </div>
    </body>
</html>