<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mrow>
            <mrow>
                <msup>
                    <mi>x</mi>
                    <mn>2</mn>
                </msup>
                <mo>+</mo>
                <mrow>
                    <mn>4</mn>
                    <mo></mo>
                    <mi>x</mi>
                </mrow>
                <mo>+</mo>
                <mn>4</mn>

            </mrow>
            <mo>=</mo>
            <mn>0</mn>
        </mrow>
    </math>    
</body>
</html>